.swiper.swiper-hero {
    width: 100%;
    height: 100vh;

    .swiper-slide {
        text-align: center;
        font-size: 20px;
        background: $black;
        display: flex;
        justify-content: center;
        align-items: center;

        .swiper-content {
            color: $white;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            z-index: 3;
            padding-left: $spacing-large;
            padding-right: $spacing-medium;
        }

        .swiper-image {
            overflow: hidden;
            height: 100%;
            width: 100%;
            z-index: 1;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                transition:  $animation-fast all ease-in-out;
            }

        }

        .image-filter {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba($brand-main,$opacity-unfocused);
            transition: $animation-fast all ease-in-out;
            z-index: 2;
        }

        &.focused {
            .image-filter {
                background-color: rgba($brand-main-dark,$opacity-focused);
            }
            .swiper-image img {
                transform: scale(1.08);
            }
        }
    }

    .swiper-button-prev, .swiper-button-next {
        top: 90% !important;
        color: $white;
        animation: $animation-fast all ease-in-out;
        margin-left: $spacing-large;
        margin-right: $spacing-large;
        &:hover {
            color: $off-white;
        }
    }

}