
// COLORS
$black: #111;
$white: #fff;
$off-white: #ccc;
$brand-main: #123;
$brand-main-dark: #123;
$brand-secondary: #123;
$brand-secondary-dark: #123;

// OPACITY
$opacity-unfocused: 0.3;
$opacity-focused: 0.6;

// SPACINGS
$spacing-small: 10px;
$spacing-medium: 30px;
$spacing-large: 50px;